body{
    background-color: rgb(44, 44, 44);
    /* font-size: 26px; */
}

#inicial img{
    width: 300px;
}

#inicial button{
    background-color: rgb(44, 44, 44);
    border: none;
    cursor: pointer;
    animation: animacao 2s ease infinite alternate;
}

@keyframes animacao {
    from {
        filter: opacity(100%);
    }
    to { 
        filter: opacity(0%);
    
    }
}

#inicial{
    position: absolute;
    top: 20px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(44, 44, 44);
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden{
    display: none;
}

.choose-page{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 610px;
}

    .classes{
        font-family: 'VT323', monospace;
        color: white;
        margin-bottom: 15px;
        font-size: 24px;
    }

    .points{
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
    }

        .points_team{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            #TR-points{}
            #A-points{}

    .btn{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        height: 240px;
    }

        .btn button{
            background-color: rgb(44, 44, 44);
            border: none;
        }
        #pedra img{
            width: 100px;
            transition: 0.3s;
        }
        #papel img{
            width: 100px;
            transition: 0.3s;
        }
        #tesoura img{
            width: 100px;
            transition: 0.3s;
        }

        #pedra img:hover{
            width: 120px;
            transition: 0.3s;
        }
        #papel img:hover{
            width: 120px;
            transition: 0.3s;
        }
        #tesoura img:hover{
            width: 120px;
            transition: 0.3s;
        }

    #jogar{
        font-family: 'VT323', monospace;
        font-size: 24px;
        padding: 10px;
        background-color:rgb(44, 44, 44);
        color: rgb(194, 194, 194);
    }

    .combat{
        color: white;
        height: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
        #player{
            font-family: 'VT323', monospace;
            font-size: 18px;
        }
        #computer{
            font-family: 'VT323', monospace;
            font-size: 18px;
        }

        #computer img{
            width: 80px;
        }
    
    .result{}
        #resultado{
            color: white;
            font-family: 'VT323', monospace;  
            font-size: 22px;          
        }

    .last{
        margin: 15px 0;
    }

@media (min-width: 768px){
    .btn{
        flex-direction: row;
        height: 90px;
    }
}

